<div class="imui-toolbar-wrap">
  <div class="imui-toolbar-inner">
    <ul class="imui-list-toolbar">
      <li><a href="#" class="imui-toolbar-icon" title="Back"><span class="im-ui-icon-common-16-back"></span></a></li>
      <li class="icon-split"></li>
      <li><a href="training/demos/demo0_tagdoc_index/tagdoc_index" target="_blank" class="imui-toolbar-tab"><span
            class="im-ui-icon-common-16-star mr-5"></span>A. Cong</a></li>
      <li><a href="view/long/index" class="imui-toolbar-tab"><span
            class="im-ui-icon-common-16-star mr-5"></span>Long</a></li>
      <li><a href="view/huy/index" class="imui-toolbar-tab"><span class="im-ui-icon-common-16-star mr-5"></span>Huy</a>
      </li>
      <li>
        <imart type="imuiDropdown" data=$data.dataDropdown />
      </li>
      <li class="icon-split"></li>
    </ul>
    <ul class="imui-list-toolbar-utility">
      <li class="icon-split"></li>
      <li>
        <div id="zzzdiv"></div>
        <style>
          .im-shared-resource__icons svg {
            width: 16px !important;
            height: 16px !important;
            gap: 4px;
          }

          .im-shared-resource__user-label {
            font-size: 12px;
          }
        </style>
      </li>
      <li class="icon-split"></li>
      <li><a href="view/dzu/index" class="imui-toolbar-icon" title="Refresh">
          <span class="im-ui-icon-common-16-refresh"></span></a>
      </li>
    </ul>
  </div>
</div>